@import "tailwindcss";

@theme {
  --color-navbar-gray: oklch(0.4 0.04 268.73);
  --color-navbar-orange: #ffbb6c;
 }
 
.cursive {
  font-family: "Amatic SC", "cursive";
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}

.popup-content {
  border: none !important;
  box-shadow: none !important;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-100%, -50%) !important;
}

.popup-arrow {
  display: none !important;
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}